.sf-authForm{
    border: 1px solid green;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin: auto;
    width: 400px;
    height: 650px;
    /* flex-wrap: wrap; */
    flex-direction: column;
    border-radius: 10px;
}
h1 {
    font-size: 30px;
    padding: 10px;
    border-bottom: 1px solid gray;
}
h2 {
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 50px;
}

.sf-email-container, .sf-password-container, .sf-username-container{
   height: 60px;
   width: 85%;
   margin-bottom: 25px;
}

.sf-email-container input, .sf-password-container input, .sf-username-container input{
    height: 45px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
}


.sf-auth-button{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sf-auth-button{
    background-color: white;
    height: 45px;
    width: 100%;
    /* border: 1px solid gray; */
    border-radius: 10px;
}

#sb-button{
    width: 85%;
    height: 100%;
}