#nb-master {
    display: flex;justify-content: space-between;
    height: 80px;
    border: 1px solid purple;
    display: flex;
    align-items: center;
}

#nb-logoPic {
    max-height: 45px;
}

#nb-rightLinks {
    display: flex;
    border: 1px solid blue;
}

#nb-rightLinks div {
    margin: 0 20px;
    border: 1px solid green;
    cursor: pointer;
}

#nb-rightLinks a {
    text-decoration: none;
    color: inherit;
}