#upcoming {
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 10px;
  justify-content: center;
}

#ug-title{
  width: 80%;
  height: 50px;
  text-align: center;
}

#ug-card-container{
  width: 80%;
}

#scroll-wrapper {
  overflow: hidden;
  border-radius: 10px;
  width: 47%;
  height: 450px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  background-color: rgb(225, 104, 69, 0.5);
  box-shadow: 5px 5px 15px rgb(143, 199, 227, 0.5);
}