#map {
    height: 100%;
    width: 100%
}

#gf-map{
    height: 500%;
}

#pin-title{
    font-size: 20px;
    color: #406db4;
}

#pin-title:hover {
    color: var(--orange);
    text-decoration: underline;
    cursor: pointer;
}

#pin-date, #pin-time{
    text-align: center;
}