#gs-master {
    width: 65vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 10px;
    font-size: 20px;
}

#gs-header {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 72px;
    background-color: var(--peach);
    color: white;
    border-radius: 16px;
}

#gs-content {
    line-height: 30px;
    padding: 20px;
}

#gs-title {
    font-size: 36px;
}

#gs-game-host {
    color: var(--peach);
}

#gs-game-time {
    margin-top: 10px;
}

