#sb-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: top 0, left 300;
  background-image: radial-gradient( circle at center, #ea3b13 , #ea3b14 , #ea3b10 , #e99937, #e99930, #e99925, #e16845, #e16840, #e16820 );
  width: 85%;
	height: 100%;
	font-size: 16px;
	height: 48px;
	border-radius: 8px; 
	/* font-weight: 600; */
	text-align: center;
	margin-right: 16px;
	color: white;
	/* font-family: inherit; */
	line-height: 20px;
	margin-top: 18px;
	margin-bottom: 18px; 
	border: none;
}

#sb-button_hover {
  cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: top 0, left 300;
  background-image: radial-gradient( circle at center, #ea3b13, #ea3b14, #ea3b10, #e99937, #e99930, #e99925, #e16845, #e16840, #e16820 );
  background-size: 200% 200%;
	width: 85%;
	height: 100%;
	font-size: 16px;
	height: 48px;
	border-radius: 8px; 
	/* font-weight: 600; */
	text-align: center;
	margin-right: 16px;
	color: white;
	/* font-family: inherit; */
	line-height: 20px;
	margin-top: 18px;
	margin-bottom: 18px; 
	border: none;
}