#welcome {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#user-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#up-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 47%;
  height: 100%;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--peach);
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}

.A-I {
  margin-left: 20px;
  width: 50%;
}

.up-button {
  display: flex;
  justify-content: center;
  width: 100%;
}
