body {
  font-family: 'Jost', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(233, 153, 55, 0.3);
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

:root {
  --orange: #ea3b13;
  --peach: #e16845;
  --yellow: #e99937;
  --white: #ffffff;
  --black: #000000;
  --gradient: linear-gradient(to left,
  #ea3b13 33%,
  #e16845 33%,
  #e99937 33%,
 );

}