#s-heroSection {
    background-color: var(--peach);
    color: black;
    height: 300px;
    font-size: 72px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}